<div *ngIf="loading && !error" class="loading"></div>
<video
*ngIf="error === ''"
class="preview"
[attr.width]="width+'px'"
[attr.height]="height+'px'"
autoplay
[muted]="'muted'"
[style.opacity]="opacityVideo"
[style.animationName]="chickchick ? 'takephoto' : 'none'"
></video>
<div
class="photo"
[style.width]="width+'px'"
[style.height]="height+'px'"
[style.opacity]="opacityPhoto"
[style.animationName]="chickchick ? 'takephoto' : 'none'"
[style.transform]="'translateY('+ycoord+'px)'"
[style.backgroundImage]="'url('+picture+')'"
></div>
<div *ngIf="error !== ''" class="error">
  <div class="icon"></div>
  <div class="text">{{ error }}</div>
</div>
