<div class="list">
  <a class="option" [routerLink]="['/']" [queryParams]="{l: 'us'}">
    <div class="option__icon option__icon_us"></div>
    <div class="option__text">I'm from USA</div>
  </a>
  <a class="option" [routerLink]="['/']" [queryParams]="{l: 'ru'}">
    <div class="option__icon option__icon_ru"></div>
    <div class="option__text">I'm from Russia</div>
  </a>
  <a class="option" [routerLink]="['/']" [queryParams]="{l: 'us'}">
    <div class="option__icon option__icon_world"></div>
    <div class="option__text">I'm from another country</div>
  </a>
</div>
