<app-touch-page-create-stage1 *ngIf="typeScreen === 'touch' && stage === 1"></app-touch-page-create-stage1>
<app-desktop-page-create-stage1 *ngIf="typeScreen === 'desktop' && stage === 1"></app-desktop-page-create-stage1>

<app-touch-page-create-stage2 *ngIf="typeScreen === 'touch' && stage === 2"></app-touch-page-create-stage2>
<app-desktop-page-create-stage2 *ngIf="typeScreen === 'desktop' && stage === 2"></app-desktop-page-create-stage2>

<app-touch-page-create-stage3 *ngIf="typeScreen === 'touch' && stage === 3"></app-touch-page-create-stage3>