<svg viewBox="0 0 20 100" xmlns="http://www.w3.org/2000/svg">
  <path d="M 15 5 C 15 5, 15 95, 15 95" stroke="#ffffff" stroke-width="2" stroke-linecap="round" fill="none" filter="drop-shadow(0px 0px 2px #333)">
    <animate attributeName="d" values="M 15 5 C 15 5, 15 95, 15 95 ; M 15 5 C 5 25, 5 75, 15 95" dur="0.2s" begin="indefinite" fill="freeze" />
    <animate attributeName="d" values="M 15 5 C 5 25, 5 75, 15 95 ; M 15 5 C 15 5, 15 95, 15 95" dur="0.2s" begin="indefinite" fill="freeze" />
    <animate attributeName="stroke" values="#ffffff ; #e91e63" dur="0.2s" begin="indefinite" fill="freeze" />
    <animate attributeName="stroke" values="#e91e63 ; #ffffff" dur="0.2s" begin="indefinite" fill="freeze" />
    <animate attributeName="filter" values="drop-shadow(0px 0px 2px #333) ; drop-shadow(0px 0px 2px #33333300)" dur="0.2s" begin="indefinite" fill="freeze" />
    <animate attributeName="filter" values="drop-shadow(0px 0px 2px #33333300) ; drop-shadow(0px 0px 2px #333)" dur="0.2s" begin="indefinite" fill="freeze" />
  </path>
</svg>
