:host {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrap_animated {
    transition: all ease 0.2s;
  }

  .box {
    z-index: 1;
    position: absolute;
  }

  .draw {
    z-index: 2;
    position: absolute;
  }

  .wrap-draw {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hint {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: #ffffff33;
    text-align: center;
    z-index: 10;
    transition: all ease 0.2s;
  }

  .hint_center {
    bottom: 50%;
    backdrop-filter: blur(0px);
    background-color: #ffffff00;
  }

  .hint_hidden {
    transform: translateY(100%);
  }

  .hint_green {
    background-color: #333333;
  }

  .hint__text {
    margin: 10px;
    text-align: center;
    color: #333333;
    font-size: 14px;
  }

  .hint_green .hint__text {
    color: #ffffff;
  }

  .hint_center .hint__text {
    font-size: 20px;
  }

  .top-menu {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: #ffffff33;
    transform: translateY(0%);
    transition: transform ease 0.2s;
  }

  .top-menu_hidden {
    transform: translateY(-100%);
  }

  .tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .tool__icon {
    flex-shrink: 0;
    margin: 10px 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .tool__icon_image {
    background-size: 70%;
  }

  .tool__text {
    margin: 10px 20px;
    margin-left: 0px;
    color: #333333;
    font-size: 14px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .menu__icon {
    flex-shrink: 0;
    margin: 10px 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/assets/menu.svg);
  }

  .menu__text {
    margin: 10px 20px;
    margin-left: 0px;
    color: #333333;
    font-size: 14px;
  }

  .loupe {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff99;
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }

  .loupe__bar {
    margin: 20px;
    flex-shrink: 0;
    width: 20px;
    height: 200px;
    border-radius: 100px;
    background-color: #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .loupe__progress {
    width: 100%;
    border-radius: 100px;
    background-color: #000000ff;
  }

  .loupe__right {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loupe__percentage {
    color: #333333;
    font-size: 24px;
    font-weight: 100;
  }

  .placeholder-list-gift {
    width: 100%;
    height: 120px;
    opacity: 0;
    transition: transform 250ms ease;
  }

  .drag-gift {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
  }

  .drag-gift__not-allowed {
    width: 100%;
    height: 100%;
    background-color: #ff000033;
    border-radius: 20px;
  }

  .drag-gift_animated {
    transition: all ease 0.2s;
  }

  .gift {
    // -webkit-backface-visibility: hidden;
    // transition: filter ease 0.2s;
  }

  .gift_hidden {
    display: none;
    // filter: blur(10px);
  }

  .back-drag-gift {
    position: absolute;
    left: 0px;
    height: 0px;
    width: 100vw;
    height: 100%;
    background-color: #000000aa;
  }

  .back-drag-gift__window {
    position: absolute;
    backdrop-filter: brightness(2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid #ffffff66;
  }

  .grid__row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  .grid__option {
    flex: 1;
    border-right: 1px solid #ffffff66;
    border-bottom: 1px solid #ffffff66;
  }

  .grid__row:last-child .grid__option {
    border-bottom: 1px solid #ffffff00;
  }

  .grid__option:last-child {
    border-right: 1px solid #ffffff00;
  }

  .button-back, .button-forward {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .button-back__icon, .button-forward__icon {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url(/assets/arrow-left3.svg);
  }

  .button-forward__icon {
    background-image: url(/assets/arrow-right3.svg);
  }

  .button-forward__icon_complete {
    background-image: url(/assets/checkmark.svg);
  }

  .button-back__text, .button-forward__text {
    margin: 10px;
    color: #333333;
    font-size: 18px;
    user-select: none;
  }

  .listimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .waiting {
    padding: 20px;
    position: absolute;
    width: calc(100% - 40px);
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: #ffffff33;
    transition: transform ease 0.2s;
  }

  .waiting_hidden {
    transform: translateY(-100%);
  }

}