<textarea
  class="value"
  spellcheck="false"
  [style.font-size.%]="fontSizePrecentage"
  (touchend)="onTouchEnd($event)"
  (touchcancel)="onTouchEnd($event)"
  (input)="refresh($event)"
></textarea>
<div *ngIf="isCorrectRule === true" class="maxlength" [style.color]="!isLengthCorrect() ? '#f44336' : '#4caf50'">
  <div *ngIf="min > 0" class="current">{{ min }}</div>
  <div *ngIf="min > 0" class="more">&lt;</div>
  <div class="current">{{ this.lengthWithPrefix ? value.length : value.length-this.prefix.length }}</div>
  <div class="more">&lt;</div>
  <div class="outof">{{ max }}</div>
</div>
<div *ngIf="isCorrectRule !== true" class="maxlength" [style.color]="'#f44336'">
  <div class="current">{{ isCorrectRule }}</div>
</div>
<div class="hint">{{ locationService.translate('press', 'нажмите') }} {{ this.enterable ? '#' : 'enter' }} {{ locationService.translate('to save', 'чтобы сохранить') }}</div>
<div *ngIf="title !== ''" class="title">{{ title }}</div>
