:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/transparent.svg);
  background-size: 20px;
  background-repeat: repeat;
  background-position: 0px 0px;
  user-select: none;
  > .image {
    position: absolute;
    left: 0px;
    top: 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  > .trimtools {
    $stroke: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    > .back {
      left: 0px;
      top: 0px;
      position: absolute;
      background-color: #00000099;
    }
    > .frame {
      position: absolute;
      left: 0px;
      top: 0px;
      outline-color: #fff;
      outline-style: solid;
      outline-width: $stroke;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      backdrop-filter: brightness(2.5);
      z-index: 1;
      cursor: grab;
      > .resize {
        position: absolute;
        width: 40px;
        height: 40px;
        transform: translateX(20px) translateY(20px);
        border-radius: 500px;
        background-color: #fff;
        z-index: 2;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../assets/resize.svg);
        box-shadow: 0px 0px 2px #000;
        cursor: nw-resize;
      }
    }
  }
  > .hintsidebar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00000099;
    transition: all ease 0.2s;
    > .text {
      margin: 10px;
      font-size: 12px;
      color: #fff;
      text-align: right;
      user-select: none;
    }
    > .ico {
      margin: 10px;
      margin-left: 0px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
