<app-desktop-dialog *ngIf="dialogs.greetingcard.visible" (close)="closeHowItWorks('greetingcard')">
  <div class="dialog">
    <div class="dialog-title">{{ locationService.translate('What it is?', 'Что это?') }}</div>
    <div class="dialog-text">{{ locationService.translate('This is an greeting card that we used to gift on various occasions. The cover for which you choose yourself. On the reverse side, write your wishes in poetic form. And most importantly -', 'Это открытка которую мы привыкли дарить по различным поводам: день рождения, свадьба, 8 марта и т.д. Создайте свою открытку. Выберите подходящую обложку, напишите слова пожелания в стихотворной форме и что самое душевное,') }} <b>{{ locationService.translate('you can sign it with YOUR OWN HAND', 'вы можете подписать её СОБСТВЕННОЙ РУКОЙ') }}</b>.</div>
    <div class="dialog-title">{{ locationService.translate('Setting the cover', 'Выбор обложки') }}</div>
    <div class="dialog-text">{{ locationService.translate('Imagine the situation you want to give a gift to your girlfriend, and you want to add a greeting card with a love poem to the gift box, let\'s first choose a cover. For example this one:', 'Представим ситуацию: вы хотите сделать подарок вашей девушке и в подарочную коробку хотите положить открытку. Давайте для начала выберем обложку, например я выбрал такую:') }}</div>
    <img *ngIf="locationService.location().country.code === 'us'" width="40%" class="dialog-img" src="assets/greetingcard/front/12.png" />
    <img *ngIf="locationService.location().country.code === 'ru'" width="40%" class="dialog-img" src="assets/greetingcard/front/26.png" />
    <div class="dialog-title">{{ locationService.translate('Let\'s write a poem', 'Напишем стихотворение') }}</div>
    <div class="dialog-text">{{ locationService.translate('We also need some kind of poem that we will write on the back side, for example, I get it from the internet, not bad, right?', 'Также нам нужно какое-нибудь стихотворение. Например, напишем такое стихотворение (я украл у Александра Сергеевича):') }}</div>
    <div class="dialog-quote">
      {{ locationService.translate('Amazing and beautiful,', 'Пред ней задумчиво стою,') }}<br/>
      {{ locationService.translate('not a flower or a tree.', 'Свести очей с нее нет силы;') }}<br/>
      {{ locationService.translate('Much prettier than that,', 'И говорю ей: как вы милы!') }}<br/>
      {{ locationService.translate('and only I can see.', 'И мыслю: как тебя люблю!') }}<br/>
    </div>
    <div class="dialog-text">{{ locationService.translate('What does it look like:', 'Вот как это выглядит:') }}</div>
    <img *ngIf="locationService.location().country.code === 'us'" width="40%" class="dialog-img" src="assets/greetingcard/example1.png" />
    <img *ngIf="locationService.location().country.code === 'ru'" width="40%" class="dialog-img" src="assets/greetingcard/example3.png" />
    <div class="dialog-title">{{ locationService.translate('The most magic', 'Самое волшебство') }}</div>
    <div class="dialog-text">{{ locationService.translate('For a congratulation to be truly sincere, it must be signed, otherwise it looks like it was written by a robot, you can pass the captcha, right?', 'Чтобы поздравления были по-настоящему искренними нужно обязательно подписать открытку собственной рукой. Например, я нарисовал сердечки и чёрточки, этого вполне достаточно.') }}</div>
    <img *ngIf="locationService.location().country.code === 'us'" width="40%" class="dialog-img" src="assets/greetingcard/example2.png" />
    <img *ngIf="locationService.location().country.code === 'ru'" width="40%" class="dialog-img" src="assets/greetingcard/example4.png" />
    <div class="dialog-text">{{ locationService.translate('Wow this looks really great, the recipient is sure to be delighted.', 'ВАУ!!! Это выглядит потрясающе, мне кажется получатель точно будет рад.') }}</div>
  </div>
</app-desktop-dialog>
<app-desktop-dialog *ngIf="dialogs.game.visible" (close)="closeHowItWorks('game')">
  <div class="dialog">
    <div class="dialog-title">{{ locationService.translate('What it is?', 'Что это?') }}</div>
    <div class="dialog-text">{{ locationService.translate('This is a video game box. If the recipient loves games, you can gift a video game redeem key, which he/she can enter and get a video game.', 'Это коробка с видеоигрой. Если человек, которому вы хотите сделать подарок, любит играть в игры, вы можете подарить ему/ей активационный ключ игры, который он/она сможет ввести и получить игру.') }}</div>
    <div class="dialog-title">{{ locationService.translate('Redeem key', 'Активационный ключ') }}</div>
    <div class="dialog-warning">{{ locationService.translate('!!! IMPORTANT !!! To gift a game, you need a redeem key. You must buy a card. On the back side, erase the area where you can find the key and enter it on our site so that we transfer it to your recipient.', '!!! ВНИМАНИЕ !!! Чтобы подарить игру, вам для начала нужно купить активационный ключ в любом магазине (например DNS, Мвидео и т. д.), вы должны будете стереть защитный слой и ввести ключ на сайте, который получатель прочитает и ввёдет самостоятельно. Вводите ключ именно на этом сайте, нигде не активируйте игру.') }}</div>
    <div class="dialog-text">{{ locationService.translate('This is what redeem key looks like:', 'Примерно так выглядит карточка с активацонным ключом для игры:') }}</div>
    <img width="60%" class="dialog-img" src="assets/game/example1.png" />
    <div class="dialog-text">{{ locationService.translate('If you bought a game for playstation or xbox or nintendo switch, we will tell the recipient how to activate the game. In other cases, we will ask you to write instructions on how to activate the game. The instructions are almost always written on the back of the card.', 'Если вы купите игру для playstation, xbox или nintendo switch, то мы сами расскажем получателю как активировать игру. В другом случае мы попросим вас написать инструкцию по активации ключа, почти всегда она написана на задней стороне карточки и состоит из 3-5 шагов.') }}</div>
    <div class="dialog-text">{{ locationService.translate('Let\'s say i bought the game \'little nightmares\' for playstation 5. I entered the redeem key:', 'Давайте представим я купил ключ к игре \'little nightmares\'. И сразу ввожу код:') }}</div>
    <img *ngIf="locationService.location().country.code === 'us'" width="90%" class="dialog-img" src="assets/game/example5.png" />
    <img *ngIf="locationService.location().country.code === 'ru'" width="90%" class="dialog-img" src="assets/game/example7.png" />
    <div class="dialog-title">{{ locationService.translate('Set cover', 'Установим обложку') }}</div>
    <div class="dialog-text">{{ locationService.translate('Now i need to set cover. I google \'little nightmares cover\' and download the picture.', 'Далее нам нужна подходящая обложка. В гугл поиске ввожу \'little nightmares обложка\' и скачиваю картинку.') }}</div>
    <img *ngIf="locationService.location().country.code === 'us'" width="90%" class="dialog-img" src="assets/game/example2.png" />
    <img *ngIf="locationService.location().country.code === 'ru'" width="90%" class="dialog-img" src="assets/game/example6.png" />
    <div class="dialog-text">{{ locationService.translate('Now just install it. Here\'s what we got:', 'Теперь устанавливаем обложку. Вот что у меня получилось:') }}</div>
    <div class="dialog-row">
      <img *ngIf="locationService.location().country.code === 'us'" width="40%" class="dialog-img" src="assets/game/example3.png" />
      <img *ngIf="locationService.location().country.code === 'ru'" width="40%" class="dialog-img" src="assets/game/example8.png" />
      <img width="40%" class="dialog-img" src="assets/game/example4.png" />
    </div>
    <div class="dialog-text">{{ locationService.translate('That\'s all, you can gift the game.', 'На этом всё, теперь вы можете подарить игру.') }}</div>
  </div>
</app-desktop-dialog>
<app-desktop-dialog *ngIf="dialogs.speaker.visible" (close)="closeHowItWorks('speaker')">
  <div class="dialog">
    <div class="dialog-title">{{ locationService.translate('What it is?', 'Что это?') }}</div>
    <div class="dialog-text">{{ locationService.translate('This is a speaker where you can record your own greeting voice (any other sound can also be recorded up to 50 seconds).', 'Это колонка. С помощью неё вы можете записать свой голос с поздравлениями или же любой другой звук. (максимальная длина записи 50 сек.)') }}</div>
    <div class="dialog-warning">{{ locationService.translate('For this gift you will need a microphone. If you use a phone or laptop, it is already built into your device.', 'Для данного подарка, у вас должен быть рабочий микрофон. Если вы используете ноутбук или телефон/планшет, то у вас уже он встроен.') }}</div>
    <div class="dialog-title">{{ locationService.translate('Sound recording', 'Запись звука') }}</div>
    <div class="dialog-text">{{ locationService.translate('All you need is to record the sound you want to send to the recipient. This is what the settings panel for sound recording looks like:', 'Все что вам нужно, это записать звук, который вы хотите отправить получателю. Вот как выглядит панель для записи голоса:') }}</div>
    <img *ngIf="locationService.location().country.code === 'us'" width="80%" class="dialog-img" src="assets/speaker/example1.png" />
    <img *ngIf="locationService.location().country.code === 'ru'" width="80%" class="dialog-img" src="assets/speaker/example2.png" />
  </div>
</app-desktop-dialog>
<app-desktop-dialog *ngIf="dialogs.tablet.visible" (close)="closeHowItWorks('tablet')">
  <div class="dialog">
    <div class="dialog-title">{{ locationService.translate('What it is?', 'Что это?') }}</div>
    <div class="dialog-text">{{ locationService.translate('Here you can record video with congratulations. All this will be designed as a tablet on which the recipient can watch your self made video (maximum duration up to 30 seconds).', 'Это планшет, на который вы можете записать видеопоздравление. (максимальная длина 30 сек.)') }}</div>
    <div class="dialog-warning">{{ locationService.translate('For this gift you will need a microphone and webcam. If you use a phone or laptop, it is already built into your device.', 'Для данного подарка вам нужны микрофон и вебкамера. Если вы используете ноутбук или телефон/планшет, то у вас уже они встроены.') }}</div>
    <img width="80%" class="dialog-img" src="assets/tablet/example1.png" />
  </div>
</app-desktop-dialog>
<app-desktop-dialog *ngIf="dialogs.photo.visible" (close)="closeHowItWorks('photo')">
  <div class="dialog">
    <div class="dialog-title">{{ locationService.translate('What it is?', 'Что это?') }}</div>
    <div class="dialog-text">{{ locationService.translate('This is a photo taken by you. And most importantly, on the back side, ', 'Это фотография, на задней стороне которой вы можете') }} <b>{{ locationService.translate('you can sign it with YOUR OWN HAND', 'расписаться СОБТВЕННОЙ РУКОЙ') }}</b>.</div>
    <div class="dialog-warning">{{ locationService.translate('For this gift you will need a webcam. If you use a phone or laptop, it is already built into your device.', 'Для этого подарка вам нужна веб камера. Если вы используете ноутбук или телефон/планшет, то у вас уже она встроена.') }}</div>
    <div class="dialog-title">{{ locationService.translate('Take a photo', 'Фотография') }}</div>
    <div class="dialog-text">{{ locationService.translate('Imagine that you want to give your boyfriend a gift and put your photo there. First, let\'s take a photo, you can make it on this web-site. (Attention! this photo is just an example). Here\'s what we got:', 'Давайте представим вы хотите сделать подарок вашему парню и хотите вложить туда свою фотографию. Давайте для начала сделаем фото. (Внимание! Это не моё фото я его просто взял с pixabay.com):') }}</div>
    <img width="60%" class="dialog-img" src="assets/photo/example1.png" />
    <div class="dialog-title">{{ locationService.translate('Sign with all your heart', 'Распишемся от всего сердца') }}</div>
    <div class="dialog-text">{{ locationService.translate('Now to make the photo really worthwhile, let\'s sign it on the back side with our own hand. Here\'s what it looks like:', 'Теперь сделаем это фото стоящим. Распишемся на задней стороне. Вот что у меня получилось:') }}</div>
    <img width="60%" class="dialog-img" src="assets/photo/example2.png" />
    <div class="dialog-text">{{ locationService.translate('Wow this looks very attractive the recipient will definitely be pleased.', 'Вау! Это выглядит очень привлекательно! Получатель обязательно будет доволен.') }}</div>
  </div>
</app-desktop-dialog>
<div class="content" (wheel)="setPositions($event.deltaY)">
  <div class="button-cancel" (click)="close.emit('')"></div>
  <app-desktop-add-gift-list-option
    *ngFor="let gift of gifts; let i = index"
    (add)="close.emit(gift.type)"
    (how)="showHowItWorks(gift.type)"
    [type]="gift.type"
    [descr]="gift.descr"
    [style.transform]="'translateY('+gift.position+'px) scale('+gift.scale+')'"
    [style.opacity]="gift.opacity"
    (click)="scrollTo(!gift.descr, i)"
  ></app-desktop-add-gift-list-option>
</div>
