
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wcg-primary: mat.define-palette(mat.$indigo-palette);
$wcg-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wcg-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wcg-theme: mat.define-light-theme((
  color: (
    primary: $wcg-primary,
    accent: $wcg-accent,
    warn: $wcg-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wcg-theme);

body {
  margin: 0px;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}

html, body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  transition: all ease 0.3s;
}
::-webkit-scrollbar-track {
  background: unset;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
