<div class="list">
  <div class="option" (click)="setLang('us')">
    <div class="option__icon option__icon_us"></div>
    <div class="option__text">I'm from USA</div>
  </div>
  <div class="option" (click)="setLang('ru')">
    <div class="option__icon option__icon_ru"></div>
    <div class="option__text">Я русский</div>
  </div>
  <div class="option" (click)="setLang('us')">
    <div class="option__icon option__icon_world"></div>
    <div class="option__text">I'm from another country</div>
  </div>
</div>
